@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .group:hover > .group-hover\\:opacity-100 {
        opacity: 1;
        visibility: visible;
    }
    .group:hover > .group-hover\\:visible {
        visibility: visible;
    }
    .group .group:hover .group-hover\\:opacity-100 {
        opacity: 1;
        visibility: visible;
    }
    .group .group:hover .group-hover\\:visible {
        visibility: visible;
    }
}
